@model TesteCostumerX.Models.Cliente

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Você está certo que quer excluir esse Cliente e <b>todos</b> os contatos vinculados a ele?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NM_Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NM_Cliente)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
    <hr />

    <form asp-action="Delete" class="form-group">
        <input type="hidden" asp-for="ID_Cliente" />
        <input type="submit" value="Excluir" class="btn btn-default" />
    </form>

    <div>
        <a asp-action="Index">Voltar para a Lista</a>
    </div>
</div>
