@model TesteCostumerX.Models.Contato

@{
    ViewData["Title"] = "Visualizar";
}

<h2>Visualizar</h2>

<div>
    <h4>Contato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NM_Contato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NM_Contato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FK_Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.NM_Cliente)
        </dd>
    </dl>
</div>
<hr />

<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.ID_Contato"><input type="submit" value="Editar" class="btn btn-default" /></a>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>
